$violet: hsl(257, 40%, 49%);
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
$laptop: 1024px;
$tablet: 768px;

@mixin laptop {
  @media (min-width: #{$laptop}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet}) {
    @content;
  }
}
body {
  font-family: "Open Sans", sans-serif;
  background-color: $violet;
  background-image: url(../images/bg-mobile.svg);
  background-repeat: no-repeat;
  background-size: 100% 50%;
  color: white;
  font-size: 16px;
  min-height: 100vh;
  display: flex;
  align-items: center;
  @include tablet() {
    background-image: url(../images/bg-desktop.svg);
    background-size: cover;
    font-size: 17px;
  }
  @include laptop() {
    font-size: 25px;
  }
}
.landing-page {
  max-width: 80%;
  margin: auto;
  @include tablet() {
    max-width: 90%;
  }
  @include laptop() {
    max-width: 1220px;
  }
}
.header {
  height: 9.375rem;
  display: flex;
  align-items: center;
  &__logo {
    max-width: 9.375em;
  }
}
.main {
  @include tablet() {
    display: flex;
  }
  &__img {
    @include tablet() {
      flex: 0.6;
    }
  }
  &__content {
    text-align: center;
    margin: 40px 0;
    @include tablet() {
      flex: 0.4;
      text-align: left;
      margin: 1.875em 0 0 30px;
    }
  }

  &__desc {
    margin: 1.125em 0;
    font-size: 0.95em;
  }
}

img {
  max-width: 100%;
}
h1 {
  font-family: "Poppins", sans-serif;
  font-size: 1.5625em;
  font-weight: 400;
}
p {
  opacity: 0.8;
}

.footer {
  height: 6.25em;
  display: flex;
  align-items: center;
  justify-content: center;
  &__icon {
    border: white solid 1px;
    width: 1.875em;
    height: 1.875em;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
  }
  @include tablet() {
    justify-content: flex-end;
  }
}
button {
  @include laptop() {
    font-size: 16px;
  }
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  width: 200px;
  height: 3.5em;
  background-color: white;
  border-radius: 50px;
  border: none;
  color: $violet;
  box-shadow: 0px 5px 10px 0 hsla(177, 92%, 5%, 0.52);
}
